@use "../colors";

.card {
    width: 90%;
    background-color: colors.$dark;
    color: colors.$offwhite;
    border-radius: 10px;
    margin: .3em 0;
}

.card__leader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .8em 1em;
}

.card__item {
    display: inline-block;
    font-size: 1em;
}

.leader--rank {
    background-color: colors.$offwhite;
    color: colors.$dark;
    border-radius: 500px;
    padding: .5em .8em;
    margin-right: .8em;
}

.leader--balance {
    margin-right: 1em ;
}