@use "../colors";

.form {
    color: colors.$dark;
    border-radius: 6px;
    padding: 1.2em;
    margin: 2em 10%;
}

.form--login {
    background-color: colors.$dark;
    color: colors.$offwhite;
}

.form__row {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form__row label {
    margin-top: .4em;
}

h2, p {
    color: colors.$offwhite;
}

input {
    background-color: colors.$offwhite;
    color: colors.$dark;
    border: 1px solid colors.$dark;
    border-radius: 6px;
    line-height: 1.4em;
    padding: .8em .6em;
    margin: .6em 0;
}

input::placeholder {
    color: colors.$dark;
}

@media (min-width: 1200px) {
    .form {
        max-width: 60%;
        margin: 2em auto;
    }
}